{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>
<body>

    <div class="overlay"></div>
    <div class="overlay2"></div>
    <div class="overlay3"></div>

    <nav class="navbar">

        <ul class="navbar__nav">

            <li class="logo">
                <a href="/home" class="nav__link">
                    <img src="{% static 'images/icon.svg' %}" alt="Icono de la página" class="page-icon">
                    <span class="link__text">Navío Naranja</span>
                </a>
            </li>

            <li class="nav__item">
                <a href="/home" class="nav__link">
                    <i class='bx bx-home'></i>
                    <span class="link__text">Inicio</span>
                </a>
            </li>

            <li class="nav__item">
                <a href="/search_result" class="nav__link">
                    <i class='bx bx-search' ></i>
                    <span class="link__text">Búsqueda</span>
                </a>
            </li>

            <li class="nav__item" id="youAreHere">
                <a href="/cart-detail" class="nav__link">
                    <i class='bx bx-cart' ></i>
                    <span class="link__text">Carrito</span>
                </a>
            </li>

            <li class="nav__item">
                <a href="#" class="nav__link">
                    <i class='bx bx-moon' ></i>
                    <span class="link__text">Modo oscuro</span>
                </a>
            </li>

        </ul>

    </nav>

    <div class="top-bar"></div>

    <header>

        <a href="/home"><img src="{% static 'images/icon.svg' %}" alt="Icono de la página" class="page-icon"></a>

        <div class="dropdown">
            <div class="dropdown-btn">
                <span>Categorías</span>
                <i class='bx bx-chevron-down'></i>
            </div>
            <div class="dropdown-menu">
                <!-- Panel de Categorías -->
                <div class="dropdown-categories">
                    <div class="category" data-category="destacados">Destacados <i class='bx bx-chevron-right'></i></div>
                    {% for genre in genres %}
                        <div class="category" data-category="{{ genre.name|slugify }}">{{ genre.name }}<i class='bx bx-chevron-right'></i></div>
                    {% endfor %}
                </div>
                <!-- Panel de Productos -->
                <div class="dropdown-products">
                    <div class="products active" id="destacados">
                        <h4>Productos Destacados</h4>
                        {% for product in featured %}
                            <a href="{% url 'product_detail' product_id=product.id %}">
                                <div class="product-item">
                                    <img src="{{ product.cover_image.url }}" alt="{{ product.title }}">
                                    <p>{{ product.title }}</p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    {% for genre, products in products_by_genre.items %}
                        <div class="products" id="{{ genre|slugify }}">
                            <h4>Productos {{ genre }}</h4>
                            {% for product in products %}
                                <a href="{% url 'product_detail' product_id=product.id %}">
                                    <div class="product-item">
                                        <img src="{{ product.cover_image.url }}" alt="{{ product.title }}">
                                        <p>{{ product.title }}</p>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="search-bar">
            <i class='bx bx-search'></i>
            <input type="text" placeholder="Buscar" id="search-input" autocomplete="off" spellcheck="false">
            <div class="clear__icon">
                <i class='bx bx-x clear-icon'></i>
            </div>
            <div id="suggestions" class="suggestions-box"></div>
        </div>

        <a href="/search_result" class="search__icon"><i class='bx bx-search search-icon'></i></a>

    </header>

    <div id="message-container" class="message-container">
        <span id="message-content"></span>
    </div>
        
    <main>
        
        <div class="review-cart-fullscreen" id="reviewCartFullscreen">
            <div class="review-cart-header">
                <h3>Revisa tu carrito</h3>
            </div>
            <div class="review-cart-content">
                {% if cart_items %}
                    {% for item in cart_items %}
                    <div class="review-product-item" data-product-id="{{ item.product.id }}">
                        <img src="{{ item.product.cover_image.url }}" alt="{{ item.product.title }}" class="review-product-image">
                        <div class="review-product-details">
                            <div class="review-product-info">
                                <p class="review-product-title">{{ item.product.title }}</p>
                                <p class="review-product-price">${{ item.product.price|floatformat:2 }}</p>
                            </div>
                            <div class="review-quantity-controls">
                                <i class='bx bx-trash review-remove-product' title="Eliminar producto"></i> 
                                <button class="review-decrease-quantity">-</button>
                                <input type="number" class="review-quantity-input" value="{{ item.quantity }}" min="1" readonly />
                                <button class="review-increase-quantity">+</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>Tu carrito está vacío.</p>
                {% endif %}
            </div>
            <div class="review-cart-total">
                <p>Total: <span id="reviewTotalAmount">$0.00</span></p>
                <button id="confirmPurchaseBtn">Confirmar compra</button>
            </div>
        </div>
        
        

    </main>

    <script src="{% static 'js/clear-search.js' %}"></script>
    <script src="{% static 'js/overlay.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
    <script src="{% static 'js/scroll-header-out.js' %}"></script>
    <script src="{% static 'js/cart-review.js' %}"></script>
    <script src="{% static 'js/suggestions.js' %}"></script>

    <script>
        function getCSRFToken() {
            return document.querySelector('[name=csrfmiddlewaretoken]').value;
        }
    </script>
    
</body>
</html>