{% for product in products %}
    <section class="custom-slider-section">
        <div class="custom-card">
            <div class="custom-card-image">
                <a href="{% url 'product_detail' product.id %}" class="custom-card-link">
                    <img src="{{ product.cover_image.url }}" alt="{{ product.title }}" class="custom-album-cover">
                </a>
            </div>
            <div class="custom-card-content">
                <a href="{% url 'product_detail' product.id %}" class="custom-card-link">
                    <h3 class="custom-album-title">{{ product.title }}</h3>
                    <p class="custom-artist-name">{{ product.artist }}</p>
                    <p class="custom-price">Precio: ${{ product.price }}</p>
                    <p class="custom-stock">Stock: {{ product.stock }} disponibles</p>
                </a>
                <button class="custom-buy-button" data-product-id="{{ product.id }}">Añadir al carrito</button>
            </div>
        </div>
    </section>
{% empty %}
    <p>No se encontraron resultados.</p>
{% endfor %}

